{{ onepasswordRead "op://Personal/GitHub SSH Key/emails/work" | trim }} {{ onepasswordRead "op://Personal/GitHub SSH Key/public key" -}}
{{ onepasswordRead "op://Personal/GitHub SSH Key/emails/personal" | trim }} {{ onepasswordRead "op://Personal/GitHub SSH Key/public key" -}}
