[tools]
bun = "latest"
{{- if .amHostOs }}
deno = "latest"
go = "latest"
node = "latest"
"npm:npm-check-updates" = "latest"
ollama = "latest"
"pipx:marimo" = "latest"
pitchfork = "latest"
python = "latest"
{{- else if .agentVm }}
"github:can1357/oh-my-pi" = "latest"
uv = "latest"
{{- end }}
"pipx:llm" = { version = "latest", postinstall = "llm install llm-ollama && llm install llm-anthropic" }

[settings]
color_theme = "base16"
{{- if .amHostOs }}
minimum_release_age = "7d"
{{- end }}

npm.package_manager = "bun"

[env]
{{- if .agentVm }}
PI_PROXY_GLASSDEV = "http://host.lima.internal:8888"
{{- end }}

