[tools]
bun = "latest"
{{- if .amHostOs }}
deno = "latest"
go = "latest"
mitmproxy = "latest"
node = "latest"
"npm:npm-check-updates" = "latest"
ollama = "latest"
"pipx:marimo" = "latest"
pitchfork = "latest"
python = "latest"
{{- else if .agentVm }}
oh-my-pi = {
  version = "latest",
  postinstall = "omp install git:github.com/DietrichGebert/ponytail",
  rename_exe = "omp"
}
uv = "latest"
{{- end }}
"pipx:llm" = { version = "latest", postinstall = "llm install llm-ollama && llm install llm-anthropic" }

[settings]
color_theme = "base16"
{{- if .amHostOs }}
minimum_release_age = "7d"
{{- end }}

[env]
{{- if .agentVm }}
PI_PROXY_GLASSDEV = "http://host.lima.internal:8888"
{{- end }}

